.titu {
    font-family: 'Moo Lah Lah', cursive;
font-size:50px;
color: $color-letra;
}

.titu1 {
    font-family: 'Bungee Shade', cursive;
    font-size:33px;
color: $color-claro;
}

.titu2 {
    font-family: 'Moo Lah Lah', cursive;
font-size:50px;
color: $color-letra;
}



.navbar {
    background-image: url("https://c.tenor.com/nmeSNaCK220AAAAC/art-starry-night.gif");
    background-size: cover;
    background-repeat: no-repeat;
  }

